**Importing Libraries**

In [48]:
import pandas as pd

**Importing Data**

In [49]:
df = pd.read_csv('credit_risk_data.csv')

In [50]:
df.head(10)

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,1,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
1,2,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
2,3,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
3,4,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
4,5,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0
5,6,0,0.213179,74,0,0.375607,3500.0,3,0,1,0,1.0
6,7,0,0.305682,57,0,5710.000000,NaN,8,0,3,0,0.0
7,8,0,0.754464,39,0,0.209940,3500.0,8,0,0,0,0.0
8,9,0,0.116951,27,0,46.000000,NaN,2,0,0,0,NaN
9,10,0,0.189169,57,0,0.606291,23684.0,9,0,4,0,2.0

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 12 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   Unnamed: 0                            150000 non-null  int64
 1   SeriousDlqin2yrs                      150000 non-null  int64
 2   RevolvingUtilizationOfUnsecuredLines  150000 non-null  float64
 3   age                                   150000 non-null  int64
 4   NumberOfTime30-59DaysPastDueNotWorse  150000 non-null  int64
 5   DebtRatio                             150000 non-null  float64
 6   MonthlyIncome                         120269 non-null  float64
 7   NumberOfOpenCreditLinesAndLoans       150000 non-null  int64
 8   NumberOfTimes90DaysLate               150000 non-null  int64
 9   NumberRealEstateLoansOrLines          150000 non-null  int64
 10  NumberOfTime60-89DaysPastDueNotWorse  150000 non-null  int64
 11  NumberOfDependents                    146076 non-null  float64
dtypes: float64(4), int64(8)
memory usage: 13.7 MB

In [52]:
df.isnull().sum()

Unnamed: 0                                  0
SeriousDlqin2yrs                            0
RevolvingUtilizationOfUnsecuredLines        0
age                                         0
NumberOfTime30-59DaysPastDueNotWorse        0
DebtRatio                                   0
MonthlyIncome                           29731
NumberOfOpenCreditLinesAndLoans             0
NumberOfTimes90DaysLate                     0
NumberRealEstateLoansOrLines                0
NumberOfTime60-89DaysPastDueNotWorse        0
NumberOfDependents                       3924
dtype: int64

MonthlyIncome and NumberOfDependents have missing values

**Imputing Missing Values of MonthlyIncome**

In [53]:
sum(df["MonthlyIncome"].isna())

29731

In [54]:
df[df["MonthlyIncome"].isna()]

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
6,7,0,0.305682,57,0,5710.0,NaN,8,0,3,0,0.0
8,9,0,0.116951,27,0,46.0,NaN,2,0,0,0,NaN
16,17,0,0.061086,78,0,2058.0,NaN,10,0,2,0,0.0
32,33,0,0.083418,62,0,977.0,NaN,6,0,1,0,0.0
41,42,0,0.072898,81,0,75.0,NaN,7,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
149976,149977,0,0.000627,76,0,60.0,NaN,5,0,0,0,0.0
149977,149978,0,0.236450,29,0,349.0,NaN,3,0,0,0,0.0
149984,149985,0,0.037548,84,0,25.0,NaN,5,0,0,0,0.0
149992,149993,0,0.871976,50,0,4132.0,NaN,11,0,1,0,3.0
149997,149998,0,0.246044,58,0,3870.0,NaN,18,0,1,0,0.0

In [55]:
df[df["MonthlyIncome"] == 0]

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
14,15,0,0.019657,76,0,477.0,0.0,6,0,1,0,0.0
50,51,0,0.818978,73,0,3095.0,0.0,9,0,1,1,0.0
73,74,0,0.059669,31,0,3162.0,0.0,11,0,2,0,1.0
90,91,0,0.039388,51,0,15466.0,0.0,7,0,0,0,0.0
298,299,0,0.085152,25,0,1005.0,0.0,5,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
149383,149384,0,0.239302,63,0,3153.0,0.0,29,0,1,0,0.0
149562,149563,0,0.230799,72,0,430.0,0.0,7,0,0,0,0.0
149646,149647,0,0.080084,69,0,1248.0,0.0,8,0,1,0,1.0
149673,149674,0,0.132362,82,0,4123.0,0.0,14,0,2,0,0.0
149950,149951,0,0.004827,61,0,1940.0,0.0,10,0,1,0,0.0

In [56]:
df[(df["MonthlyIncome"] != 0) & (df["MonthlyIncome"].notna())]

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,1,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
1,2,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
2,3,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
3,4,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
4,5,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
149994,149995,0,0.385742,50,0,0.404293,3400.0,7,0,0,0,0.0
149995,149996,0,0.040674,74,0,0.225131,2100.0,4,0,1,0,0.0
149996,149997,0,0.299745,44,0,0.716562,5584.0,4,0,1,0,2.0
149998,149999,0,0.000000,30,0,0.000000,5716.0,4,0,0,0,0.0
149999,150000,0,0.850283,64,0,0.249908,8158.0,8,0,2,0,0.0

An interesting pattern is that the DebtRatio of entries with missing MonthlyIncome and zero MonthlyIncome are extremely high, while the DebtRatio of entries with non-zero MonthlyIncome are mostly in the decimal places.

In [57]:
print(f"Median DebtRatio of entries with missing MonthlyIncome: {df[df['MonthlyIncome'].isna()]['DebtRatio'].median()}")
print(f"Median DebtRatio of entries with zero MonthlyIncome: {df[df['MonthlyIncome'] == 0]['DebtRatio'].median()}")
print(f"Median DebtRatio of entries with non-zero MonthlyIncome: {df[(df['MonthlyIncome'] != 0) & (df['MonthlyIncome'].notna())]['DebtRatio'].median()}")

Median DebtRatio of entries with missing MonthlyIncome: 1159.0
Median DebtRatio of entries with zero MonthlyIncome: 930.0
Median DebtRatio of entries with non-zero MonthlyIncome: 0.292453636

This supports the fact that the MonthlyIncome for the entries are missing because they are extremely low, so the respondents simply did not report. As such, I will impute missing MonthlyIncome with zero.

In [58]:
df.loc[df['MonthlyIncome'].isna(), "MonthlyIncome"] = 0

**Imputing Missing Values of NumberOfDependents**

In [59]:
df[df["NumberOfDependents"].isna()]

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
8,9,0,0.116951,27,0,46.0,0.0,2,0,0,0,NaN
96,97,0,0.542243,48,2,10.0,0.0,2,0,0,0,NaN
109,110,0,0.041258,61,0,4739.0,0.0,11,0,4,0,NaN
159,160,0,0.000000,63,0,2.0,0.0,4,0,0,0,NaN
238,239,0,1.000000,28,0,0.0,0.0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
149826,149827,0,0.027319,71,0,1419.0,0.0,13,0,1,0,NaN
149854,149855,0,0.056589,75,0,8.0,0.0,3,0,0,0,NaN
149894,149895,0,0.017904,55,0,1058.0,0.0,8,0,1,1,NaN
149948,149949,0,0.055530,27,0,10.0,0.0,1,0,0,0,NaN
149965,149966,0,1.000000,27,0,98.0,0.0,2,0,0,0,NaN

In [60]:
df[df["NumberOfDependents"] == 0]

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
2,3,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
3,4,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
4,5,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0
6,7,0,0.305682,57,0,5710.000000,0.0,8,0,3,0,0.0
7,8,0,0.754464,39,0,0.209940,3500.0,8,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
149994,149995,0,0.385742,50,0,0.404293,3400.0,7,0,0,0,0.0
149995,149996,0,0.040674,74,0,0.225131,2100.0,4,0,1,0,0.0
149997,149998,0,0.246044,58,0,3870.000000,0.0,18,0,1,0,0.0
149998,149999,0,0.000000,30,0,0.000000,5716.0,4,0,0,0,0.0
149999,150000,0,0.850283,64,0,0.249908,8158.0,8,0,2,0,0.0

In [61]:
df[(df["NumberOfDependents"] != 0) & (df["NumberOfDependents"].notna())]

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,1,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
1,2,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
5,6,0,0.213179,74,0,0.375607,3500.0,3,0,1,0,1.0
9,10,0,0.189169,57,0,0.606291,23684.0,9,0,4,0,2.0
11,12,0,0.018798,51,0,0.531529,6501.0,7,0,2,0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...
149986,149987,0,0.168102,49,0,0.080384,5000.0,16,0,0,0,1.0
149989,149990,0,0.013356,62,0,0.001408,9233.0,4,0,0,0,3.0
149990,149991,0,0.055518,46,0,0.609779,4335.0,7,0,1,0,2.0
149992,149993,0,0.871976,50,0,4132.000000,0.0,11,0,1,0,3.0
149996,149997,0,0.299745,44,0,0.716562,5584.0,4,0,1,0,2.0

In [62]:
print(f"The median of all number of dependents in the data: {df['NumberOfDependents'].median()}")
print(f"The median monthly income of entries with missing number of dependents: {df[df['NumberOfDependents'].isna()]['MonthlyIncome'].median()}")

The median of all number of dependents in the data: 0.0
The median monthly income of entries with missing number of dependents: 0.0

I will impute missing values for number of dependents as zero for two reasons. Firstly, the median of the number of dependents is zero, so it would be a natural number to impute as. Secondly, the monthly income of people with missing number of dependents is zero, meaning they probably do not have the financial means to be supporting any dependent.

In [63]:
df.loc[df["NumberOfDependents"].isna(), "NumberOfDependents"] = 0

**Checking & Fixing Outliers**